<header class="app-header">
  <div class="logo">
    <h1>Mi Aplicación</h1>
  </div>
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
      </li>
      <!-- Mostrar enlaces de login o registro si no está logueado -->
      <li *ngIf="!UserLoginOn" class="nav-item">
        <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
      </li>
      <li *ngIf="!UserLoginOn" class="nav-item">
        <a class="nav-link" routerLink="/register">Registrarse</a>
      </li>
      
      <!-- Enlace adicional "¿Buscas empleo?" -->
      <li *ngIf="!UserLoginOn" class="nav-item">
        <a class="nav-link" routerLink="/provider-register">¿Buscas empleo?</a>
      </li>

      <!-- Mostrar enlace de cerrar sesión si está logueado -->
      <li *ngIf="UserLoginOn" class="nav-item">
        <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
      </li>
      <li class="nav-item">
        <button routerLink="/user-list" class="styled-button">Ir a Tabla de usuarios</button>
      </li>
    </ul>
  </nav>
</header>
