/* Estilo general para la cabecera */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #34495e; /* Un gris azulado que combina bien */
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}

/* Logo */
.logo h1 {
  margin: 0;
  font-size: 32px; /* Aumentar el tamaño del texto */
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* Barra de navegación */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px; /* Aumentar el espacio entre los elementos */
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ecf0f1; /* Un blanco suave */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, transform 0.2s;
  padding: 8px 12px; /* Añadir un poco de espacio alrededor del texto */
  border-radius: 5px; /* Bordes redondeados */
}

/* Efecto hover en los enlaces */
nav ul li a:hover {
  background-color: #1abc9c; /* Un verde vibrante para el hover */
  color: #fff; /* Blanco para el texto */
  transform: scale(1.05); /* Agrandar un poco al pasar el ratón */
}

/* Estilo del botón */
.styled-button {
  background-color: #e67e22; /* Naranja vibrante */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
  background-color: #d35400; /* Naranja más oscuro */
  transform: scale(1.05);
}

.styled-button:focus {
  outline: none;
}

/* Responsividad: para pantallas pequeñas */
@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
    padding: 15px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px; /* Menos espacio en pantallas pequeñas */
  }
}
